footer{
    background: #4b73b5;
    padding-top: 1%;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__thanks p{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-family: "Roboto Light";
    font-weight: 300;
    padding-right: 20%;
    line-height: 18px;
}
.loftschool {
    font-size: 14px;
    font-family: "Roboto - Bold";
    font-weight: 700;
    text-decoration: underline;
    color:white;
}

