footer{
    background: #4b73b5;
    padding-top: 1%;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.footer__thanks p{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-family: "Roboto Light";
    font-weight: 300;
    padding-right: 20%;
}
.loftschool {
    font-size: 14px;
    font-family: "Roboto - Bold";
    font-weight: 700;
    text-decoration: underline;
    color:white;
}
.socials__list {
    display:flex;
    justify-content: center;
    align-items: center;
}
.socials__title {
    text-align: center;
    color: #221f1f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
}
.socials__item{
    margin-right: 18px;
}
.socials__item:last-child {
    margin-right: 0px;
}
