.header{
    background: #4b73b5;
    margin-bottom: 42px;
    position: relative;
}
.header__container {
    display: flex;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
}
.contacts{
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
}
.contacts__phone{
    color: inherit;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.contacts__hours {
    text-align: right;
    text-decoration: underline;
}
.contacts__hours li {
    color: #1c5bc3;
    font-family: Roboto;
    font-size: 14px;
    font-family: "Roboto - Bold";
    font-weight: 700;
}
.contacts__hours li:last-child {
    color: #221f1f;
    font-family: "Roboto Light";
    font-weight: 300;
}
.contacts__hours:hover .contacts__hours-list, .contacts__hours:hover .triangle {
    display:block;
}
.contacts__hours-list{
    position:absolute;
    font-size: 14px;
    font-weight: 700;
    padding: 1%;
    margin-top: 20px;
    display: none;
    border: black;
    background-color: white;
    border-radius: 2%;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}
.contacts__hours-wrapper {
    position: relative;
}
.triangle {
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    right: 25%;
    margin-top: 8%;
    border-radius: 3px;
    transform: rotate(45deg);
    display: none;
}