.info{
    background: #4b73b5;
    background-image: url(../../img/content/comments/add_layer.png);
    position: relative;
    margin-bottom: 30px;
    margin-right: 30px;
}
.info__text {
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Roboto Light";
    font-weight: 300;
    padding: 0 12%;
}
.request {
    color: #ffffff;
    font-family: "Roboto - Bold";
    font-weight: 700;
    text-decoration: underline;
}

.contacts {
    color: #ffffff;
    font-family: "Roboto - Bold";
    font-weight: 700;
}