
.news__title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
}

.date {
    color: #656464;
    font-family: "Roboto Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
}
.news__item-title {
    color: #221f1f;
    font-size: 21px;
    font-family: "Roboto - Bold";
    font-weight: 700;
    margin-top: 0;
}
.news__text p {
    font-family: "Roboto";
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
}
.news__content, .news__item-pic{
    display: inline-block;
}
.news__content {
    width: 644px;
}
.news__item-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    vertical-align: top;
}
.news__item {
    margin-bottom: 30px;
    padding-bottom: 27px;
    border-bottom: 2px solid #f5f5f5;
}
.news__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.news {
    margin-bottom: 40px;
}