.news h1, .news{
    margin-bottom: 30px;
}
.news__title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    margin: 20px 0;
}
.news__list{
    display: flex;
    justify-content: flex-start;
}
.date {
    color: #656464;
    font-family: "Roboto Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
}
.news__item-title {
    color: #221f1f;
    font-size: 18px;
    font-family: "Roboto - Bold";
    font-weight: 700;
    margin-top: 0;
}
.news__text p {
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-family: "Roboto Light";
    font-weight: 300;
    line-height: 30px;
}
.news__content--news {
    width: 100%;
}
.news__item-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.news__item {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 30px;
}
.news__item:nth-child(3n) {
    margin-right: 0;
}
.news__photo {
    margin-bottom: 40px;
    text-align: center;
}
