.partners__title {
  color: #221f1f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10%;
  }
  .partners__item{
    margin-bottom: 10%;
    text-align: center;
    filter: grayscale(100%);
  }
  .partners__item:hover  {
    filter: none;
    transition: .5s;
  }