.partners__title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10%;;
  }
  .partners__item{
      width: 20%;
      height: 20%;
      margin-right: 10%;
      margin-bottom: 10%;
  }
  .partners__item:nth-child(3n) {
      margin-right: 0;
  }
  .partners__item:nth-child(n+4) {
    margin-bottom: 0;
  }
  .partners__item {
    text-align: center;
    filter: grayscale(100%);
  }
  .partners__item:hover  {
    filter: none;
    transition: .5s;
  }