.section h1, .section{
    margin-bottom: 30px;
}
.section__title {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    margin: 20px 0;
}
.date {
    color: #656464;
    font-family: "Roboto Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
}
.section__item-title {
    color: #221f1f;
    font-size: 18px;
    font-family: "Roboto - Bold";
    font-weight: 700;
    margin-top: 0;
}
.section__text p {
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-family: "Roboto Light";
    font-weight: 300;
    line-height: 30px;
}
.section__content {
    width: 75%;
}
.section__item-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.section__item {
    display: flex;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.section__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.section__item-photo {
    margin-right: 25px;
}
