.sidebar {
    display: block;
    width: 70%;
    margin-bottom: 5%;
}
.nav__list {
    display: flex;
}
.nav__link:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
    height: 22px;
    width: 22px;
}
.nav__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #4b73b5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-decoration: none;
}
.nav__item {
    margin-right: 97px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link:hover {
    color: #221f1f;
}
.nav__item--active .nav__link {
    color: #221f1f;
}
.nav__link--icon--main:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -65px -5px;
}
.nav__link--icon--feed:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -5px -5px;
}
.nav__link--icon--team:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -119px -5px;
}
.nav__link--icon--main:hover:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -92px -5px;
}
.nav__link--icon--feed:hover:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -35px -5px;
}
.nav__link--icon--team:hover:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -152px -5px;
}
.nav__item--active .nav__link--icon--main:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -92px -5px;
}
.nav__item--active .nav__link--icon--feed:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -35px -5px;
}
.nav__item--active .nav__link--icon--team:before {
    background: url(../../img/content/sidebar/sprite_sidebar.png) -152px -5px;
}